body{
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
    background:#111;
    color:#ffffff;
    line-height:1.6;
}

.hero{
    min-height:100vh;
    background:linear-gradient(
        rgba(0,0,0,.75),
        rgba(0,0,0,.75)
    ),
    url('https://images.unsplash.com/photo-1511578314322-379afb476865?q=80&w=1200&auto=format&fit=crop');
    background-size:cover;
    background-position:center;
    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center;
    padding:20px;
}

.hero h1{
    color:#d4af37;
    font-size:4rem;
    margin-bottom:20px;
}

.hero p{
    font-size:1.4rem;
    margin-bottom:25px;
}

.btn{
    display:inline-block;
    padding:15px 25px;
    background:#d4af37;
    color:#000;
    text-decoration:none;
    border-radius:8px;
    font-weight:bold;
}

.section{
    padding:60px 10%;
}

.section h2{
    text-align:center;
    color:#d4af37;
    margin-bottom:30px;
}

.card{
    background:#1f1f1f;
    border:2px solid #d4af37;
    border-radius:12px;
    padding:25px;
    margin-bottom:25px;
}

.card h3{
    color:#d4af37;
}

.price{
    font-size:2rem;
    font-weight:bold;
    color:#d4af37;
    margin-top:15px;
}

footer{
    background:#000;
    text-align:center;
    padding:40px;
}

@media (max-width:768px){

.hero h1{
    font-size:2.5rem;
}

.section{
    padding:40px 20px;
}

}
